@tailwind base;
@tailwind components;

@layer base {
    @font-face {
        font-family: 'vazirmatn';
        src: local('vazirmatn'), url("../assets/fonts/Vazirmatn[wght].woff2");
        font-weight: 100 900;
        font-style: normal;
        font-display: swap;
    }
}

@tailwind utilities;